<div class="form-center">
  <%= simple_form_for(@coffee_shop) do |f| %>
    <%= f.input :name, class:"input-line" %>
    <%= f.input :address, input_html: { id: "shop-address" }%>
    <%= f.input :description, as: :text, class:"input-line" %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Save", class: "btn button-red" %>
  <% end %>
</div>
