<% if @user_shops.empty? %>
  <div class="content-center">
    <h3>You have no saved coffee shops. Start by creating a coffee shop: </h3>
    <%= link_to "Add a new Coffee Shop", new_coffee_shop_path, class: "button-thin", style: "text-decoration: none;" %>
  </div>
<% else %>
  <div class="card-container">
    <% @user_shops.each do |shop| %>
      <%= link_to coffee_shop_path(shop), style: "text-decoration: none" do %>
        <div class="shop-card-small" style="background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(106, 13, 13, 0.23)), url(<%= cl_image_path shop.photo.key, width: 250, height: 200, crop: :fill %>);">
        <h3><%= shop.name %></h3>
      <% end %>
      </div>
    <% end %>
  </div>
  <div class="button-list">
    <%= link_to coffee_shops_path, class:"halo-circle round-button", style:"text-decoration:none" do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
    <%= link_to "Add a new Coffee Shop", new_coffee_shop_path, class: "button-thin", style: "text-decoration: none;" %>
  </div>
<% end %>
