<div class="display-card">
  <div class="card-column-left">
    <div class="card-title">
      <h1><%=@coffee_shop.name %></h1>
    </div>
    <% if @coffee_shop.photo.attached? %>
      <%= cl_image_tag @coffee_shop.photo.key, width: 600, height: 400 %>
    <% else %>
      <p>No Image yet</p>
    <% end %>
  </div>
  <div class="card-column-right">
    <p><%= @coffee_shop.address %></p>

    <div class="card-description-panel">
      <p><%= @coffee_shop.description %></p>
    </div>

    <div class="card-buttons">
      <%= link_to 'Delete', coffee_shop_path, method: :delete, class: "button-red", style:"text-decoration:none" %>
      <%= link_to 'Edit', edit_coffee_shop_path, class: "button-red", style:"text-decoration:none" %>
    </div>
  </div>
</div>

<div>
  <% @coffee_shop.reviews.each do |review| %>
    <p><%= review.rating %></p>
    <p><%= review.content %></p>
  <% end %>
</div>

<%= link_to coffee_shops_path, class:"halo-circle" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>



